{% extends 'base.html.twig' %}

{% block title %}Reclamations index{% endblock %}

{% block body %}
    <h1>Reclamations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Ajoutepar</th>
                <th>Resolupar</th>
                <th>Commentaire</th>
                <th>Status</th>
                <th>Idzone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.date }}</td>
                <td>{{ reclamation.ajoutepar }}</td>
                <td>{{ reclamation.resolupar }}</td>
                <td>{{ reclamation.commentaire }}</td>
                <td>{{ reclamation.status }}</td>
                <td>{{ reclamation.idzone }}</td>
                <td>
                    <a href="{{ path('reclamations_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('reclamations_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamations_new') }}">Create new</a>
{% endblock %}
