{% extends 'base.html.twig' %}

{% block title %}Imagereclamation index{% endblock %}

{% block body %}
    <h1>Imagereclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lien</th>
                <th>Typeimg</th>
                <th>Idreclamation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagereclamation in imagereclamations %}
            <tr>
                <td>{{ imagereclamation.id }}</td>
                <td>{{ imagereclamation.lien }}</td>
                <td>{{ imagereclamation.typeimg }}</td>
                <td>{{ imagereclamation.idreclamation }}</td>
                <td>
                    <a href="{{ path('imagereclamation_show', {'id': imagereclamation.id}) }}">show</a>
                    <a href="{{ path('imagereclamation_edit', {'id': imagereclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imagereclamation_new') }}">Create new</a>
{% endblock %}
